.underline {
  width: 5rem;
  height: 0.1rem;
  background: red;
  margin: 1rem auto;
}
.div-img-blog img {
  width: 35rem;
  height: 25rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.div-img-blog img {
  width: 100%;
}
.blogitemMain {
  justify-content: center;
  gap: 3rem
}
